# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
*.log
local_settings.py
db.sqlite3
media/

# Static collected
staticfiles/
static_root/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
